#boat-form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#athlete-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.athlete-button {
    width: 200px;
    height: 50px;
    background-color: white;
    color: #694b3e;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #694b3e;
    cursor: pointer;
    margin-bottom: 4px;
}

.athlete-button:hover {
    background-color: #fafafa;
    box-shadow: 0 0 1px #694b3e;
}

.selected-btn {
    background-color: white;
    border: 2px solid black;
}